  <h2>New Competitor</h2>

  <form role="form" clas="form-inline" ng-submit="add()">
      <div class="form-group">
        <div class="input-group">
        <div class="col-sm-3">
            <input type="text" class="form-control"  placeholder="competitor's name" ng-model="newCompetitorName">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control col-sm-3"  placeholder="surnames" ng-model="newCompetitorSurnames">
        </div>
        <div class="col-sm-3">
          <select class="form-control" 
            ng-model="newCompetitorCathegorie" 
            ng-options="cathegorie as cathegorie.label for cathegorie in cathegories"></select>
        </div>
          <span class="col-sm-3">
                <button type="submit" class="btn btn-primary" >Add</button>
          </span>
        </div>
      </div>
  </form>
<h2>Competitors</h2>
<table class="table table-condensed">
  <thead>
    <tr >
            <th>#</th>
            <th>Name</th>
            <th>Surnames</th>
            <th>Cathegorie</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
  </thead>
  <tbody>
        <tr ng-repeat="competitor in competitors">
            <td>
                {{competitor.id}}
            </td>
            <td>
                {{competitor.name}}
            </td>
            <td>
                {{competitor.surnames}}
            </td>
            <td>
                {{competitor.cathegorie.label}}
            </td>
            <td>
                <button class="btn btn-default btn-sm"  ng-click="performance(competitor)" >Perform</button>
            </td>
            <td>
                <button class="btn btn-default btn-sm" ng-click="remove(competitor)">delete</button>
            </td>
        </tr>
  </tbody>
  </table>

